html, body  {
  width: 100%;
  padding: 0;
  margin: 0;
}

.photo-slide {
  opacity: 1;
}

.slick-slide .testimonial-slide {
  opacity: .25;
  transition: 1s ease-in-out;
}

.slick-center .testimonial-slide  {
  opacity: 1;
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
